# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.env
.env.local

# OS
.DS_Store

# Logs
logs/
*.log

/delivery/package.json
/delivery/pnpm-lock.yaml
/finance/pnpm-lock.yaml
/delivery/server.js
